body {
  background-color: #71747777;
  font-family: Arial, sans-serif;
}

.container_principal {
  background-color: #ffffff;
  width: 400px;
  max-width: 90%;
  border-radius: 4px;
  margin: 40px auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;

  /* Remove altura fixa e evita espaço extra */
  height: auto;
  min-height: 0;
  overflow: hidden; /* Evita espaço vazio interno */
}

.title {
  font-size: 32px;
  text-align: center;
  color: #51d2ab;
  font-weight: bold;
}
h1,
p {
  margin: 0;
  text-align: center;
}
.description {
  font-size: 18px;
  color: #3e3e3e;
}
label {
  font-size: 16px;
  font-weight: bold;
  color: #3e3e3e;
}
.input {
  width: 100%;
  height: 34px;
  margin-top: 10px;
  border: 1px solid #14c087b2;
  border-radius: 8px;
  outline: none;
  padding-left: 2px;
  box-sizing: border-box;

  font-size: 18px;
  color: gray;
  margin-bottom: 10px;
}
.input:focus {
  border: 2px solid #038372d3;
}
.input::placeholder {
  text-align: right;
  padding: 12px;
  font-size: 14px;
}
.botao-calcular {
  width: 80.3%;
  height: 32px;
  border-radius: 4px;
  border: none;
  background: linear-gradient(135deg, #0d9986a4, #0d9987);
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: transform 0.25s ease-in-out;
  cursor: pointer;
  margin-right: 34px;
}
.botao-calcular:hover {
  transform: scale(1.05);
}
.botao-calcular:active {
  transform: scale(0.95);
}

.result {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  border-radius: 8px;
  gap: 10px;
  background-color: #eff6ff;
  text-align: center;
  opacity: 0;
  transform: scale(0.9);
  transition:
    opacity 0.6s ease,
    transform 0.6s ease,
    background-color 1.5s ease;
}
.result.show {
  opacity: 1;
  transform: scale(1);
  background-color: #0d9987; /* cor final escura */
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}
.result-box {
  background: rgba(8, 140, 228, 0.15); /* light transparent blue */
  border: 1px solid rgba(0, 0, 0, 0.08); /* soft border */
  border-radius: 12px;
  padding: 20px;
  backdrop-filter: blur(6px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}
.result p {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: #3e3e3e50;
}
#imc-value {
  font-size: 43px;
}
.clear {
  border: 2px solid #3e3e3e2d;
  border-radius: 8px;
  height: 34px;
  width: 40px;
  cursor: pointer;
  background-color: white;

  transition:
    transform 0.2s ease,
    opacity 0.2s ease;
}
.clear:hover {
  transform: scale(1.05);
  opacity: 0.85;
}
.clear:active {
  transform: scale(0.95);
}
.classification-table {
  margin-top: 60px;
  width: 442px;
  max-width: 90%;
  margin: 40px auto;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.classification-table-title {
  text-align: left;
  padding: 10px;
}
table {
  width: 100%;
  border-collapse: collapse;
  color: #0e0e0e;
}

td {
  padding: 10px;
  padding-bottom: 5px;
}

td:first-child {
  text-align: left;
}

td:last-child {
  text-align: right;
}
tr {
  border: 1px solid #ddd;
}
.have-circle-blue,
.have-circle-green,
.have-circle-yellow,
.have-circle-orange,
.have-circle-lowred,
.have-circle-red {
  position: relative;
  padding-left: 18px;
  padding: 15px;
}

.have-circle-blue::before {
  background: #088ce4;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 2px;
}
.have-circle-green::before {
  background: #0d9987;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 2px;
}
.have-circle-yellow::before {
  background: #f5a623;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 2px;
}
.have-circle-orange::before {
  background: #f5a523a4;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 2px;
}
.have-circle-lowred::before {
  background: #f03d3df6;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 2px;
}
.have-circle-red::before {
  background: #ff0000;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 2px;
}
td {
  height: 40px;
}
