.container_principal {
  width: 70%;
  background-color: #723434;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.quadrado {
  width: 100px;
  height: 100px;
  background-color: #34a853;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.filho_quadrado {
  width: 30px;
  height: 25px;
  background-color: blue;
  margin: 2px;
}
/* flex-direction: column;  para deixar um abaixo do outro */
