body {
  background-color: #e1ebeb;
}

.container_pagina {
  background-color: #fff;
  padding: 10px;
  width: 80%;
  margin: 0 auto;
}

.container_nome_receita {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nome_receita {
  margin-left: 20px;
  font-size: 28px;
}

.container_imagem_receita {
  display: flex;
  justify-content: center;
}

.imagem_receita {
  border: 10px rgb(226, 219, 219) solid;
  border-radius: 10px;
}

.secao_pagina {
  font-size: 22px;
  font-weight: bold;
  color: #246b9b;

  border-left: 2px #246b9b solid;
  padding: 5px;
}

.tabela_nutricional {
  width: 50%;
  border-collapse: collapse;
}

.tabela_nutricional thead {
  background-color: #246b9b;
  color: #fff;
  font-size: 18px;
  text-align: left;
}

.tabela_nutricional tbody {
  font-size: 17px;
  background-color: rgb(185, 185, 176);
}

.tabela_nutricional tr:hover {
  background-color: rgb(255, 255, 255);
}
