.container_formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  width: 560px;
  margin: 0 auto;
  border: 1px tomato solid;
  margin-top: 200px;
}
.input-email, .input-senha {
  padding: 20px;
  margin: 20px;
  width: 80%;
}
