body {
  background-color: rgb(33, 105, 81);
  font-family: Arial, Helvetica, sans-serif;
}
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: rgb(33, 105, 81);
}
.container_formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  width: 40%;
  margin: 100px auto;
  border-radius: 8px;
  background-color: white;
}
.title {
  color: rgb(33, 105, 81);
}
.input-email,
.input-senha {
  padding: 20px;
  margin: 20px;
  width: 80%;
  outline: none;
  border: 2px solid rgba(33, 105, 81, 0.596);
  font-size: 15px;
}
.input-email:hover,
.input-senha:hover {
  transform: scale(1.01);
  border: 2px solid rgba(33, 105, 81, 0.986);
}

.checkbox-wrapper-46 {
  width: 87%;
}
.checkbox-wrapper-46 span {
  font-size: 16px;
  color: #3e3e3efb;
}
.checkbox-wrapper-46 input[type="checkbox"] {
  display: none;
  visibility: hidden;
}

.checkbox-wrapper-46 .cbx {
  margin: auto;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}
.checkbox-wrapper-46 .cbx span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-46 .cbx span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid #9098a9;
  transition: all 0.2s ease;
}
.checkbox-wrapper-46 .cbx span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #ffffff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-46 .cbx span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #506eec;
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
}
.checkbox-wrapper-46 .cbx span:last-child {
  padding-left: 8px;
}
.checkbox-wrapper-46 .cbx:hover span:first-child {
  border-color: #506eec;
}

.checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child {
  background: #506eec;
  border-color: #506eec;
  animation: wave-46 0.4s ease;
}
.checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}
.checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child:before {
  transform: scale(3.5);
  opacity: 0;
  transition: all 0.6s ease;
}

@keyframes wave-46 {
  50% {
    transform: scale(0.9);
  }
}
.showpassword {
  align-items: center;
  gap: 8px;
  width: 88%;
}
.button-signin {
  padding: 15px;
  margin: 25px;
  width: 20%;
  height: 45px;
  border: none;
  background-color: rgb(33, 105, 81);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 8px;
  transition: transform 0.25s ease-in-out;
  cursor: pointer;
}
.button-signin:hover {
  transform: scale(1.05);
}
.button-signin:active {
  transform: scale(0.95);
}
.forgot {
  margin-bottom: 10px;
}
